/*
bleu : #0065FC
clair : #DEEBFF
gris : #F2F2F2
*/

/*GENERAL*/
* {
  font-family: 'Raleway', sans-serif;
}
h1, div.titre {
  font-size: 22px;
  font-weight: 800;
}
div.titre {
  margin: 15px 0px;
}
h2 {
  font-size: 18px;
}
label {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
h3 {
  font-size: 13px;
  font-weight: 500;
}
li {
  list-style-type: none;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
#logo {
  width: 130px;
  height: auto;
  padding: 30px 20px 20px 0px;
  position: absolute;
  top: 0px;
  left: 50px;
}
header {
  margin : 1px auto;
  max-width : 1920px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}
#active {
  border-top: 3px solid #0065FC;
}
nav a:after {
  text-decoration: none;
}
#suscribe {
  font-weight: bold;
  color: #0065FC;
}
body {
  margin : 0 auto;
  max-width : 1920px;
  padding: 0px 50px;
}
#activites {
  max-width: 1920px;
  min-width: 100%;
  margin-bottom: 60px;
}
#hebergement {
  max-width: 1920px;
}
body h2 {
  font-weight: bold;
}
div .annonce {
  box-shadow: 1px 1px 6px #ccc;
}
.annonce:hover {
  cursor: pointer;
}
*.fas:not(#logoLocalisation, #logoArrow, .grey) {
  color : #0065FC;
}
.grey {
  color: #F2F2F2;
}
::placeholder {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
/*HEADER*/
nav {
  width: 450px;
  padding-top: 40px;
}
nav ul {
  display: flex;
  width: 420px;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  font-size: 18px;
  padding-left : 28px;
  padding-right: 28px;
}
header a:hover {
  color : blue;
}
#active {
  color: #0065FC;
  margin-top: 0px;
  padding-top: 40px;
}
/*SECTION FORM*/
div .info {
  display : flex;
}
form a:hover {
  width: 10%;
  cursor: pointer;
}
form {
  margin-top: 20px;
  margin-bottom: 30px;
}
.formBar {
  border : 1px solid  #F2F2F2;
  border-radius: 10px;
  max-width: 400px;
  height: 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 12% 55% 33%;
  grid-row: 1;
}
.bidule {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.button {
  border: 2px solid #F2F2F2;
  border-left: none;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding-right: 15px;
  margin-top: 15px;
}
.rondBleu {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #DEEBFF;
  text-align: center;
  justify-content: space-around;
  padding-left: 0px;
}
.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.place {
  margin: center;
  display: flex;
  justify-content: center;
}
.search {
  min-height: 100%;
  background-color: #0065FC;
  display: flex;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}
.text {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding-right: 10px;
}
.text h3, .text h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.submit {
  border: none;
  background-color: #0065FC;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
#logoLocalisation, #logoArrow {
  color: #000000;
}
div .filters, div .filters>div {
  display: flex;
  flex-direction : row;
}
.filters div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.buttons {
  flex-wrap: wrap;
}
.buttons > div {
  border-color: 1px solid silver;
  border-radius: 50px;
}
.info {
  display: flex;
  width: 500px;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.rondInfo {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
/*SECTION RESULT*/
.result img {
  max-height: 145px;
  object-fit: cover;
}
#hebergement h2 {
  font-size: 15px;
}
.result {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 40px;
}
.annoncesLogement img {
  width: 100%;
  height: 200px;
  border-radius: 18px 18px 0px 0px;
}
.annoncesPopulaires img {
  width: 100%;
  min-height: 150px;
  max-height: 154px;
  border-radius: 18px 0px 0px 18px;
}
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
#hebergement .annonce {
  padding: 5px;
  background: #FFFF;
  border-radius: 20px;
}
.headPop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.annoncesLogement {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
  grid-gap: 30px;
}
.hebergement, .annoncesPopulaires {
  padding: 40px 40px;
  background-color: #F2F2F2;
  border-radius: 20px;
}
.annoncesLogement .annonce {
  min-height: 233px;
  min-width: 176px;
}
.annoncesLogement .description {
  height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  padding-top : 5px;
  padding-left: 10px;
}
.annoncesLogement .stars {
  display : flex;
  flex-direction: row;
  width: 68px;
  align-items: center;
  margin-bottom: 10px;
}
#hebergement a {
  font-weight: bold;
}
/*annonces populaires*/
.annoncesPopulaires .annonce {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 80% 20%;
  margin-bottom: 30px;
  min-width: 205px;
  max-height: 160px;
  min-height: 145px;
  grid-column-gap: 14px;
}
.annoncesPopulaires img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.annoncesPopulaires .description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 10px;
}
.annoncesPopulaires .stars {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  display : flex;
  flex-direction: row;
  width: 68px;
  align-items: center;
}
/*activités*/
div.annoncesActivites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 190px 40px 40px 165px;
  grid-column-gap: 40px;
}
.annoncesActivites > .annonce {
  overflow:hidden;
  background: #FFFF;
  border-radius: 20px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.annonce1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}
.annonce2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.annonce3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.annonce4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}
.annonce5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.annonce6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.descriptionActivite {
  width: 100%;
  height: auto;
}
.descriptionActivite h2 {
  margin: 6%;
}
#activites img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.large {
  max-height: 370px;
  width: auto;
}
.small {
  max-height: 68%;
  width: 100%;
}
.descriptionActivite {
  height: 60px;
}
/*FOOTER*/
footer {
  display: flex;
  background-color: #F2F2F2;
}
footer div {
  display: grid;
  justify-content: flex-start;
  width : 33%;
}
footer h2 {
  margin-bottom: 20px;
}
footer a {
  font-size: 16px;
  text-transform: none;
}
footer li {
  margin-bottom: 10px;
}
/*Ajustement GRAND ECRAN*/
@media (min-width:1500px) {
  #logo {
    position:static;
  }
  header {
    justify-content: space-between;
  }
}
/*TABLETTE entre 769 et 1024 TABLETTE*/
@media (min-width:850px) and (max-width:1024px) {
  .body {
    width: 100%;
  }
  #hebergement {
    max-width: 100%;
    background-color: white;
  }
  .result {
    display: flex;
    flex-direction: column-reverse;
  }
  aside {
    width: 100%;
  }
  .annoncesPopulaires {
    background-color: #F2F2F2;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-gap: 2%;
  }
  .annoncesPopulaires img {
    min-height: 160px;
  }
  .headPop {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2
  }
  .annoncesPopulaires .annonce {
    align-self: flex-end;
    height: 160px;
    padding-right: 10px;
  }
  .annoncesLogement {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    grid-gap: 20px;
  }
  .hebergement {
    background-color: white;
  }
  .hebergement, .annoncesPopulaires {
    padding: 40px 40px;
    border-radius: 20px;
  }
  /*activités TABLETTE*/
  #activites h2 {
    font-size: 16px;
  }
  div.annoncesActivites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 122px 18px 17px 102px;
    grid-column-gap: 20px;
  }
  .annoncesActivites .annonce {
    width: auto;
    height: 100%;
    padding: 0px;
  }
  .large {
    max-height: 75%;
    width: auto;
  }
  .small {
    max-height: 55%;
    width: 100%;
  }
}
/*MEDIA Queries ---- taille MOBILE sous 768px ()*/
@media (max-width:850px) {
  body {
    margin : 0 auto;
    max-width : 1440px;
    padding: 0px 0px;
  }
  footer, header {
    flex-direction: column;
  }
  header {
    padding-top: 50px;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }
  nav {
    padding-top : 0px;
  }
  nav ul {
    display: flex;
    width: 100%;
    padding: 0px;
  }
  nav ul li:last-child {
    order: 1;
    border-bottom: none;
    position: absolute;
    top: 57px;
    right: 0px;
    padding-bottom: 0px;
  }
  nav ul li {
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
    padding-right: 0px;
  }
  nav ul li:not(:last-child) {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  #active {
    border-top: none;
  }
  nav ul li:first-child {
    border-bottom: 3px solid #0065FC;
    padding-bottom: 20px;
    width: 100%;
  }
  #suscribe {
    display:flex;
    justify-content: flex-end;
    width: auto;
    font-weight: bold;
    color: #0065FC;
  }
  #formulaire {
    padding: 10px 20px 10px 20px;
  }
  .result {
    display: flex;
    flex-direction: column-reverse;
  }
  #hebergement {
    width: 100%;
    background-color: white;
    padding: 0px;
  }
  .annoncesLogement, aside, .annoncesPopulaires, .hebergement, div.annoncesActivites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px;
    }
  .annoncesLogement .annonce {
    padding: 15px 30px;
    margin-bottom: 20px;
    width: 100%;
  }
  .hebergement {
    padding: 40px 40px;
    background-color: white;
  }
  .annoncesPopulaires {
    padding: 20px 40px;
    background-color: #F2F2F2;
  }
  aside {
    width: auto;
    border-radius: 0px;
  }
  .annoncesPopulaires .annonce {
    margin-bottom: 20px;
  }
  #activites {
    max-width: 768px;
    min-width: 148px;
    padding: 15px;
    margin: 20px;
  }
  .annoncesActivites {
    width: 100%;
  }
  .annoncesActivites .annonce {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  div.annoncesActivites .annonce img {
    max-height: 145px;
  }
  div.annoncesActivites .annonce img.large {
    width: 100%;
  }
}
